<!DOCTYPE html>
<html>
<head>
  <title>Simple Invoicing - Built with AngularJS</title>
  <meta charset='utf-8'>
  <meta name="description" content="AngularJS and Angular Code Example for creating Invoices and Invoicing Application">
  <link rel="stylesheet" href='{% static vendor/bootstrap/dist/css/boostrap.min %}'>
  <link rel="stylesheet" type="text/css" href="css/style.css">


</head>



<body ng-app="invoicing" ng-controller="InvoiceCtrl" >
  <div id="content">
      {% block content %}
      {% endblock %}
  </div>


  <script type="text/javascript" src='{% static vendor/angular/angular.min.js %}'></script>
  <script type="text/javascript" src='{% static js/main.js%}'></script>
  
  {% block js %}
  {% endblock js%}

</body>
</html>
